name: Deploy Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script_stop: true
          debug: true
          script: |
            set -euxo pipefail

            whoami
            pwd

            echo "Ensure base directory exists"
            mkdir -p /mnt/dev/pipeline
            ls -la /mnt/dev

            cd /mnt/dev/pipeline

            echo "Remove old app folder"
            rm -rf pipeline

            echo "Clone repository"
            git clone https://github.com/AbdulrahmanDevOps/pipeline.git

            cd pipeline
            ls -la

            echo "Docker version"
            docker --version

            echo "Stop old container"
            docker stop pipeline || true
            docker rm pipeline || true

            echo "Build image"
            docker build -t pipeline .

            echo "Run container"
            docker run -d \
              --name pipeline \
              -p 1111:80 \
              pipeline
